{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <!--<link rel="stylesheet" href="style.css">-->
    <link rel="stylesheet" href="{% static 'css/fonts.css' %}">
    <link rel="stylesheet" href="{% static 'css/all.css' %}">
    <link rel="stylesheet" href="{% static 'css/fontawesome.css' %}">
    <link rel="stylesheet" href="{% static 'css/bootstrap.css' %}">
    <link rel="stylesheet" href="{% static 'css/styles.css' %}">
    
    <title>{% block title %}WIMP3{% endblock %}</title>
</head>

<body>
    <div class="container-full bg-light">
    {% block header %}
    <div id="header" class="header pt-3 mb-0 bg-dark">
        <div class="row">
            <div class="col-6">
                <h2><a class="navbar-brand" href="javascript:void(0)" id="logo"><i class="fa-solid fa-sun"></i> WIMP3</a></h2>
            </div>
            <div class="col-6 text-right">
                <span class="navbar-text">Username | Logout</span>
            </div>
        </div>
        <div class="row">
            <div class="col-12">
                <nav id="main-menu" class="navbar navbar-expand-lg p-0">
                    <!--<a class="navbar-brand" href="javascript:void(0)"><i class="fa-solid fa-sun"></i> WIMP3</a>-->
                    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarText" aria-controls="navbarText" aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon"></span>
                    </button>
                    <div class="collapse navbar-collapse" id="navbarText">
                        <ul class="navbar-nav mr-auto">
                            <li class="nav-item">
                                <a class="nav-link" href="javascript:void(0);" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Forecast</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="agro/livestock-entry">Pest Risk</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item">
                                <a class="nav-link" href="http://localhost:8000/agro-climat-services/" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">Agro-Climat Services</a>
                                <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                                    <a class="dropdown-item" href="agro/livestock-entry">Pest Risk</a>
                                    <a class="dropdown-item" href="#">Another action</a>
                                    <a class="dropdown-item" href="#">Something else here</a>
                                </div>
                            </li>
                            <li class="nav-item active">
                                <a class="nav-link" href="javascript:void(0);">Settings</a>
                            </li>
                        </ul>
                        
                    </div>
                </nav>
            </div>
        </div>
    </div>
    {% endblock %}
    
    {% block content %}{% endblock %}

    {% block footer %}
    <div class="footer bg-light p-4 text-center">
        <span>Copyright &copy; | All Rights Reserved. National Meteorological Service of Belize</span>
    </div>
    {% endblock %}
    </div>
</body>
</html>