{% extends "base.html" %}

{% block title %}Pest Risk Entry | Agro-Climat Services | WIMP3 | National Meteorological Service of Belize{% endblock %}

{% block content %}
<div id="main_pr_details" class="container p-5">
    <div class="row mb-3">
        <div class="col-12">
            <h1>Pest Risk Entry</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="add/" method="post" id="frm_PestRisk">
                {% csrf_token %}
                <div class="form-group row m-0"><div class="col-12 m-0"><hr /></div></div>
                {{ form.as_p }}
                <div class="form-group row">
                    <input type="submit" value="Submit" class="btn btn-primary offset-md-2" />
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}