{% extends "base.html" %}

{% block title %}Pest Risk Entry | Agro-Climat Services | WIMP3 | National Meteorological Service of Belize{% endblock %}

{% block content %}
<div id="main_pr_start" class="container p-5">
    <div class="row mb-3">
        <div class="col-12">
            <h1>Pest Risk Entry - Initial Setup</h1>
        </div>
    </div>
    <div class="row">
        <div class="col-12">
            <form action="../add/" method="post" id="frm_PestRiskStart">
                {% csrf_token %}
                <div class="form-group row">
                    <label for="month" class="col-2">Months: </label>
                    <div class="col-10 m-0">{{ form.list_months }}</div>
                </div>
                <div class="form-group row">
                    <label for="year" class="col-2">Year: </label>
                    <div class="col-3">{{ form.year }}</div>
                </div>
                <div class="form-group row">
                    <label for="commodity_type" class="col-2">Commodity Type: </label>
                    <div class="col-3">{{ form.lst_commodity }}</div>
                </div>
                <div class="form-group row">
                    <label for="commodity_type" class="col-2">&nbsp; </label>
                    <div class="col-3"><input type="submit" value="Continue to Details" class="btn btn-primary" /></div>
                </div>
                <div class="form-group row">
                    
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}