{% extends "base.html" %}

{% block title %}Agro-Cilmat Services | WIMP3{% endblock %}

{% block content %}
<div id="main_agro_services" class="container-full p-5">
    <div class="row mb-3">
        <div class="col-12">
            <h1>Error</h1>
            <div class="alert alert-danger" role="alert">
                An error occurred while processing your request. Please try again or contact support if the issue persists.
            </div>
            <a class="btn btn-primary" href="../../pest-risk-entry/start/">Try Again > Back to Entry Form</a>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>

{% endblock %}